html {
  font-family: helvetica;
  background-color: #95a5a6;
}
h1 {
  text-align: center;
  font-size: 3.5rem;
}
p {
  text-align: center;
  font-size: 1.5em;
}

.container {
  background-color: #e74c3c;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.item {
  background-color: rgba(77, 77, 240, 0.486);
  width: 230px;
  height: 150px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
.container0 {
  background-color: #520404;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
}
.item0 {
  background-color: rgba(121, 225, 243, 0.788);
  width: 230px;
  height: 150px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

.container1 {
  background-color: #4d06f5;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.item1 {
  background-color: yellowgreen;
  width: 230px;
  height: 130px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
.container2 {
  background-color: #f506e1;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
.item2 {
  background-color: rgb(9, 126, 235);
  width: 230px;
  height: 130px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
.container3 {
  background-color: #d1f506;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
.item3 {
  background-color: rgba(235, 9, 179, 0.521);
  width: 230px;
  height: 130px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
.container4 {
  background-color: #06f54e;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  align-items: flex-end;
}
.item4 {
  background-color: rgba(235, 9, 179, 0.521);
  width: 230px;
  height: 130px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
.container5 {
  background-color: #2a06f5;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
}
.item5 {
  background-color: rgba(235, 9, 179, 0.521);
  width: 230px;
  height: 130px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
.container6 {
  background-color: #f5a906;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item6 {
  background-color: rgba(43, 9, 235, 0.418);
  width: 240px;
  height: 140px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.container7 {
  background-color: #a79b62;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.item7 {
  background-color: #475b53;
  width: 240px;
  height: 140px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.container8 {
  background-color: #fc7a20;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: row-reverse;
}
.item8 {
  background-color: #5b8357;
  width: 240px;
  height: 140px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.container9 {
  background-color: #632727;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.item9 {
  background-color: #b8915d;
  width: 240px;
  height: 140px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.container10 {
  background-color: #dfd4af;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.item10 {
  background-color: #632727;
  width: 240px;
  height: 140px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.container11 {
  background-color: #21545f;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.item11 {
  background-color: #0eb2ba;
  width: 240px;
  height: 140px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.container12 {
  background-color: #d8ca98;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.item12 {
  background-color: #41776d;
  width: 240px;
  height: 140px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.container13 {
  background-color: #773E7C;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}
.item13 {
  background-color: #354C55;
  width: 240px;
  height: 200px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.container14 {
  background-color: #E43D25;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.item14 {
  background-color: #23BA17;
  width: 240px;
  height: 140px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
