html {
  font-family: helvetica;
  background-color: #95a5a6;
}
h1 {
  text-align: center;
  font-size: 3.5rem;
}

.container {
  background-color: #e74c3c;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.item {
  background-color: rgba(77, 77, 240, 0.486);
  width: 230px;
  height: 150px;
  align-content: center;
border: solid 1px #fff;
}
.container1{
  background-color: #4d06f5;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item1 {
  background-color: yellowgreen;
  width: 230px;
  height: 130px;
  align-content: center;
border: solid 1px #fff;
}

