html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a[href="#top"] {
  margin: 1rem;
  display: block;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin-top: 50vh;
  text-align: center;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.menu {
  margin-bottom: 100vh;
  font-size: 125%;
}

.menu li {
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: 5px solid #cc2e06;
  padding: 10px;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-explicit {
  display: grid;
  /*Grid de 3X3*/
  grid-template-columns: 50% 100px 1fr;
  grid-template-rows: 2rem 20vh 30%;
  /*Grid de 5X4 auto agusta las cudriculas al container*/
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, auto);
  grid-template-rows: repeat(4, 25%);
  /*Grid de 4X5*/
  grid-template-columns: 20% repeat(2, 29%) 20%;
  grid-template-rows: repeat(5, auto);
  /*Gap rows columns*/
  gap: 1vh 0.5vw;
}

.grid-explicit .item:nth-child(10) {
  color: #f43610;
  /*start mueve columns y end moeve filas para ubicar los items */
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  /*Atajo de start y end*/
  grid-row: 2/3;
  grid-column: 3/5;
}

.grid-explicit .item:nth-child(11) {
  grid-row: span 2;
  grid-column: span 2;
}

.grid-explicit .item:nth-child(15) {
  grid-row: 1 / span 3;
  grid-column: 1 / span 2;
}

.grid-line-names {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
/*Grid areas*/
.grid-areas {
  display: grid;
  /*Grid de 2CX3R*/
  grid-template-columns: 1fr 200px;
  grid-template-rows: 100px repeat(2, 1fr) 60px;
  grid-template-areas:
    "header header"
    "content sidebar"
    /*Punto para dejar espacio vacio*/
    "content ."
    "footer footer";
}

.header {
  grid-area: header;
}
.content {
  grid-area: content;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}
/*Final grid areas*/

.grid-flow {
  display: grid;
  /*Grid de 5CX4R*/
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 150px);
  /*Grid-auto-flow le da fluides a la grilla*/
  grid-auto-flow: column;
  grid-auto-columns: 150px;
  grid-auto-flow: row;
  grid-auto-rows: 150px;
}

/*.grid-flow .item:nth-child(1) {
  color: #cc2e06;
  grid-column: span 3;
  grid-row: span 3;
  
}*/

.grid-flow-dense {
  display: grid;
  /*Grilla de 5CX4R*/
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 130px);
  /*Grid-auto-dense: row dense; hace el relleno de grillas vacias*/
  grid-auto-flow: row dense;
}

.grid-flow-dense .item:nth-child(9) {
  color: #cc2e06;
  grid-row: span 3;
  grid-column: span 3;
}

/*Grid con capas ubicando con linias*/
.grid-layers {
  display: grid;
  /*Grid de 4CX4R*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.grid-layers .item:nth-child(1) {
  background-color: yellow;
  grid-column: 1/3;
  grid-row: 1/3;
}
.grid-layers .item:nth-child(2) {
  background-color: pink;
  grid-column: 3/5;
  grid-row: 1/3;
}
.grid-layers .item:nth-child(3) {
  background-color: blue;
  grid-column: 1/3;
  grid-row: 3/5;
}
.grid-layers .item:nth-child(4) {
  background-color: orange;
  grid-column: 3/5;
  grid-row: 3/5;
}
.grid-layers .item:nth-child(5) {
  background-color: mediumorchid;
  grid-column: 2/4;
  grid-row: 2/4;
}
/*Grid con capas ubicando con linias*/

/*Default es 0, valores nagativos y pasitivos*/
.grid-order {
  display: grid;
  /*Grid de 3CX2R*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid-order .item:nth-child(1) {
  background-color: #fbda61;
  background-image: linear-gradient(
    45deg,
    #fbda61 0%,
    #ff5acd 54%,
    #ffffff 93%
  );
  order: 1;
}
.grid-order .item:nth-child(2) {
  background-color: purple;
  order: 2;
}
.grid-order .item:nth-child(3) {
  background-color: blue;
}
.grid-order .item:nth-child(4) {
  background-color: orange;
}
.grid-order .item:nth-child(5) {
  background-color: palevioletred;
}
/*Default es 0, valores nagativos y pasitivos*/

.grid-align {
  display: grid;
  /*Grid de 3CX2R*/
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
}
.grid-align .item:nth-child(1) {
  background-color: yellow;
}

.grid-align .item:nth-child(2) {
  background-color: red;
}
.grid-align .item:nth-child(3) {
  background-color: blue;
}
.grid-align .item:nth-child(4) {
  background-color: orange;
}
.grid-align .item:nth-child(5) {
  background-color: #fbda61;
  background-image: linear-gradient(
    45deg,
    #fbda61 0%,
    #ff5acd 54%,
    #ffffff 93%
  );
}

.grid-align-tracks {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  /*justify-content alinia los tracks en el eje horinzontal (X)*/
  justify-content: start;
  justify-content: end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  /*align-content alinia los tracks en el eje vertical (Y)*/
  align-content: start;
  align-content: end;
  align-content: center;
  align-content: space-between;
  align-content: space-around;
  align-content: space-evenly;
}
